/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

html {
  transition: var(--ifm-transition-fast);
}


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #004284;
  --ifm-color-primary-dark: #003b77;
  --ifm-color-primary-darker: #003870;
  --ifm-color-primary-darkest: #002e5c;
  --ifm-color-primary-light: #004991;
  --ifm-color-primary-lighter: #004c98;
  --ifm-color-primary-lightest: #0056ac;

  --doc-sidebar-width: 220px !important;

  background-color: rgba(150, 190, 220, 1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6cb6ff;
  --ifm-color-primary-dark: #48a4ff;
  --ifm-color-primary-darker: #369bff;
  --ifm-color-primary-darkest: #0080fe;
  --ifm-color-primary-light: #90c8ff;
  --ifm-color-primary-lighter: #a2d1ff;
  --ifm-color-primary-lightest: #d9ecff;

  background-color: rgba(28, 33, 44, 1);
}

.main-wrapper {
  max-width: var(--ifm-container-width);
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
  margin: 0 auto
}

:root .navbar, .footer {
  background-color: rgba(94, 120, 140, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] .navbar, .footer {
  background-color: rgba(16, 19, 26, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

:root .theme-code-block-highlighted-line,
html[data-theme='dark'] .theme-code-block-highlighted-line {
  background-color: rgba(33, 150, 243, .15); /* A nice blue at 20% opacity */
}

/** Icon **************************** */

/* Use a CSS variable for dynamic background */
.bedocs-icon::before {
  background: var(--svg-icon-url) no-repeat center center;
  content: "";
  display: block;
  height: var(--svg-icon-size, 24px);
  width: var(--svg-icon-size, 24px);
  background-size: contain;
  margin: auto;
}

/* Dark mode adjustments */
html[data-theme='dark'] .bedocs-icon::before {
  filter: invert(100%) brightness(85%);
}

/* General styling for all SVG buttons */
.header--svg-link {
  margin-right: 4px;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast);
}

.header--svg-link:hover {
  background: var(--ifm-color-emphasis-200);
}

/* Use a CSS variable for dynamic background */
.header--svg-link::before {
  @extend .bedocs-icon;
  height: 24px;
  width: 24px;
}

/* Set specific icons based on the data attribute */
.bedocs-icon[data-icon="github"]::before {
  --svg-icon-url: url("/img/line-md--github-loop.svg");
}

.bedocs-icon[data-icon="attribution"]::before {
  --svg-icon-url: url("/img/gg--attribution.svg");
}

.bedocs-icon[data-icon="discord"]::before {
  --svg-icon-url: url("/img/meteor-icons--discord.svg");
}

.bedocs-icon[data-icon="testimonials"]::before {
  --svg-icon-url: url("/img/hugeicons--promotion.svg");
}

/* Dark mode adjustments */
html[data-theme='dark'] .header--svg-link::before {
  filter: invert(100%) brightness(85%);
}
