/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #004284;
  --ifm-color-primary-dark: #003b77;
  --ifm-color-primary-darker: #003870;
  --ifm-color-primary-darkest: #002e5c;
  --ifm-color-primary-light: #004991;
  --ifm-color-primary-lighter: #004c98;
  --ifm-color-primary-lightest: #0056ac;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6cb6ff;
  --ifm-color-primary-dark: #48a4ff;
  --ifm-color-primary-darker: #369bff;
  --ifm-color-primary-darkest: #0080fe;
  --ifm-color-primary-light: #90c8ff;
  --ifm-color-primary-lighter: #a2d1ff;
  --ifm-color-primary-lightest: #d9ecff;
}
/*
.header-github-link:hover {
  opacity: 0.6;
} */

/* General styling for all SVG buttons */
.header--svg-link {
  margin-right: 4px;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast);
  /* border: 1px red solid; */
}

.header--svg-link:hover {
  background: var(--ifm-color-emphasis-200);
}

/* Use a CSS variable for dynamic background */
.header--svg-link::before {
  background: var(--svg-icon-url) no-repeat center center;
  content: "";
  display: block;
  /* border: black solid 1px; */
  height: 24px;
  width: 24px;
  background-size: contain;
  margin: auto; /* Ensures it's centered */
  transform: translateX(-1px); /* Nudge it left */
}

/* Set specific icons based on the data attribute */
.header--svg-link[data-icon="github"]::before {
  --svg-icon-url: url("/img/line-md--github-loop.svg");
}

.header--svg-link[data-icon="attribution"]::before {
  --svg-icon-url: url("/img/gg--attribution.svg");
}

.header--svg-link[data-icon="discord"]::before {
  --svg-icon-url: url("/img/meteor-icons--discord.svg");
}

.header--svg-link[data-icon="testimonials"]::before {
  --svg-icon-url: url("/img/hugeicons--promotion.svg");
}

/* Dark mode adjustments */
html[data-theme='dark'] .header--svg-link::before {
  filter: invert(100%) brightness(85%);
}
